{% extends 'registration/base.html' %}

{% block content %}
<section class="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="phone">Phone</label>
                <input type="text" name="phone">
            </div>
            <div>
                <label for="message">Message</label>
                <textarea name="message" required></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
</section>
{% endblock %}
